<section>
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h1 style="text-align: center;">Información</h1>
            </div>
        </div>
        <div class="col-md-9" style="text-align:start;">    
            <div style="text-align:end;">
                <img src="https://cdn4.iconfinder.com/data/icons/eon-ecommerce-i-1/32/information_service_about_info-256.png" alt="image" width="60" height="60"/>         
            </div>       
            <div class="col-sm-offset-2 col-sm-10">
                <p>Argumentos de Entrada: <%= informacion.argumento %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Nombre de la plataforma(Sistema Operativo): <%= informacion.sistemaOperativo %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Version de NodeJS: <%= informacion.versionNJS %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Memoria total reservada: <%= informacion.memoria %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Path de ejecución: <%= informacion.path %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Process id: <%= informacion.procesId %></p>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Carpeta del proyecto: <%= informacion.carpetaProyecto %></p>
            </div>
         </div>
    </div>
</section>
<br>