<section>
    <% if (prodExists) { %>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light" id="navbarr">
            <tr>
                <th class="left-navbar">Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>Precio</th>
                <th class="right-navbar">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% productos.forEach((order) => { %>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                            src="<%= order.thumbnail %>"
                            alt="image"
                            style="width: 45px; height: 45px"
                        />
                    </div>
                </td>
                <td>
                    <p class=" mb-1 control-label"><%= order.name %></p>
                </td>
                <td><%= order.description %></td>
                <td><%= order.code %></td>
                <td><%= order.price %></td>
                <td>
                    <button class="btn btn-danger" onclick='deleteProductInCart("<%= idC %>", "<%= order.id %>")'>X</button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
            <% } else { %>>
        <div class="align-middle mb-0 bg-warning h1-style">
            <h1 class="text-center">
                No se encontraron productos
            </h1>
        </div>
            <% } %>
        <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-primary" onclick="location.href = '/landing'">Volver</button>
        </div>
</section>